<!-- //footer -->
<div data-role="footer" class="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar" class="index_login ui-grid-d">
        <a class="ui-block-a" data-role="button" data-icon="star" data-iconpos="bottom" href="#">教员库</a>
        <a class="ui-block-b" data-role="button" data-icon="grid" data-iconpos="bottom" href="#">我的订单</a>
        <a class="ui-block-c" data-icon="home" data-role="button"  data-theme="d"  data-iconpos="bottom" href="#">首页</a>
        <a class="ui-block-d" data-role="button" data-icon="gear" data-iconpos="bottom" href="#">个人中心</a>
        <a class="ui-block-e" data-role="button" data-icon="info" data-iconpos="bottom" href="#">下载APP</a>
    </div>
</div>
<!-- //footer end -->