<link rel="import" href="/view/Html/header.html?__inline">
	

    <!-- //发布家教需求 -->
    <div data-role="page" id="release">
        
        <!-- //header -->
        <div data-role="header" data-theme="a" data-position="fixed" data-tap-toggle="false">
            <h1 class="yousi_title">教员库</h1>
        </div>
        <!-- //header end -->
        
        <!-- //ctn -->
        <div data-role="content" class="ui-content"  data-theme="c" class="tutors">

            <ul data-role="listview" data-inset="true" class="list" data-theme="c">
                <li data-role="list-divider" class="fc_white">家教信息</li>
                <li class="list_li">
                    <div class="ui-field-contain">
                        <a href="#">个人资料</a>
                    </div>
                </li>
                <li class="list_li">
                    <div class="ui-field-contain">
                        <a href="#">修改安全码</a>
                    </div>
                </li>
                <li class="list_li">
                    <div class="ui-field-contain">
                        <a href="#">修改密码</a>
                    </div>
                </li>
                <li class="list_li">
                    <div class="ui-field-contain">
                        <a href="#">在线客服</a>
                    </div>
                </li>
                <li class="list_li">
                    <div class="ui-field-contain">
                        <a href="#">退出登录</a>
                    </div>
                </li>
            </ul>


        </div>
        <!-- //ctn end -->

        <!-- //nav -->
        <link rel="import" href="/view/Html/nav.html?__inline"/>
        <!-- //nav end -->

    </div>
    <!-- //发布家教需求 end -->


<link rel="import" href="/view/Html/footer.html?__inline">
<script type="text/javascript">
    require(['/lib/js/web/index'], function (app) {
        
    });
</script>
