<!-- //账户信息 -->
<div data-role="panel" id="mypanel" data-display="push">
    <ul class="panel_ul">
        <li> <p><span style="padding-right: 2em;">XXX家长</span><span class="fufeiuser">付费用户</span></p>
            <p>欢迎使用交大家教中心网站</p></li>
        <li><button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-grid">家教订单</button></li>
        <li><button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-calendar">我要结课</button></li>
        <li><button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-power">退出账号</button></li>
        <li><button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-d">下载APP更方便</button></li>
    </ul>
    <div class="panel_notice">
        <p>提示：</p>
        <p>修改密码，安全码</p>
        <p>指定心仪教员等更多功能</p>
        <P>请用电脑登录网站</P>
        <P>或下载手机APP应用即可</P>
    </div>
</div>
<!-- //账户信息 end -->